* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bs-link-hover-color: #F8B500 !important;
}
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #212121;
}

body::-webkit-scrollbar-thumb {
    background-color: #10002b;
    border-radius: 20px;
    border: 3px solid #2e0249;
}
/*----------------------header---------------*/
.header_container {
    background-image: url(../img/scene00.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 400px;
    min-height: 50rem; }
    /*background-size: 100%;*/
.header_h1 {
    text-align: center;
    color: #F8B500;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin-top: 300px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    font-size: 250%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        align-self: flex-start;

}
.header_h2{
    text-align: center;
    color: #F8B500;
    font-family: Arial, Helvetica, sans-serif;
    /*justify-content: center;*/

}
.header_h1:hover, .header_h1:focus {
    background-size: 100% 4px;
}
.nav_ul {
    display: flex;
    justify-content: flex-end;
}
.nav_li {
    text-decoration: none;
    list-style: none;
    color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: inherit;
    margin-top: 10px;
    margin-left: 20px;
}

.link {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: #F8B500 !important;
    font-size: 130%;

}
.link:hover, .link:focus {
    background-size: 100% 2px;
}

/*------------------------------------Main index--------------------------*/
.main {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: #1b1a17;
}
/*
.main_container_title{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
}
/*
.main_title{
    color:#F8B500;
    text-align: center;
    justify-content: center;
    display: flex;
    font-weight: bold;


}*/
.title_main{
    background-color:#2e0249;
    display: flex;
    align-items: flex-start;
    padding-bottom:120px;

}

.main_section {
    display: grid;
    background: #222;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}



.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;

}
.image:hover{



    filter: opacity(.5);
    -webkit-transform:scale(1.2);
    transform:scale(1.1);
}
.main_title{
    color:#F8B500;
    opacity: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    text-align: center;
    margin-top: 100px;
    font-size: 250%;


}


/*-----------------form-----------------*/
.form_container {
    width: 400px;
    height: 500px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: #512E5E;
}
.form_input {
    border-bottom: 2px solid blueviolet;
    outline: none;
    border: none;
}

.boton {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #ffea00;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.boton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: blueviolet;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.boton:hover {
    color: #e8e8e8;
}

.boton:hover::before {
    width: 100%;
}
/*----------------------product-----------------*/
.container_section2{
    display: grid;
    background: #222;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    
    grid-gap: 20px;
      }
.card_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        min-height: 150px;
        color: #F8B500;
        background-color: #2e0249;
      }
      
      .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .container_faq{
        display: flex;
        align-items: flex-end;
        
      }
/*-----------------FAQ-----------------------------*/
.main3{
    background-color: #1b1a17;
    height: 600px;
    width: auto;
}
.carousel-item2{
    width: 200PX !important;
    height: 200px !important;
}
/*----------------------footer--------------------*/
footer {
    width: auto;
    height: 250px;
    background-color: #512E5E;
    opacity: 0.9;
    color: #F8B500;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.image3 {
    width: 50px;
    height: 50px;
    border-radius:  100%;
    border-color: #090057 ;
    margin-left: 10px;
}
.footer_ul {
    display: flex;
    align-items: flex-start;
    list-style: none;

}
.redes {
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 20px;
    transition: all 0.4s ease-out;
    border-radius: 50%;
}
.redes:hover {
    cursor: pointer;
    box-shadow: 4px 30px 16px 0px rgba(50, 50, 50, 0.45);
    transform: translateY(-20px);
}
.nav_ul_footer{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 20px;
    color:#F8B500
}
.link2 {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: #F8B500 !important;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;

}
.link2:hover, .link2:focus {
    background-size: 100% 2px;
}

.link2 {
    margin: 3px;
    text-decoration: none;
    color:#F8B500;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 15px;
    width: auto;
    height: auto;
    flex: 1;
}
.footer_nav{
    display: flex;
    flex: 2;
    align-items: flex-end;
    padding-right: 50px;
}
.container_p{
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
    margin-right: 15px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


@media (max-width: 576px) {
    .footer_ul {
      display: flex;
      flex-direction: column;
      list-style: none;
    }
  }







